Risoluzione/BFS_CUDA.exe
Risoluzione/BFS_CUDA.exp
Risoluzione/BFS_CUDA.lib
Risoluzione/BFS_Resolution_SequenzialeV2.exe
Risoluzione/stepsV2/build/Debug/BFS_Resolution_Sequenziale_Riprogettata.o
Risoluzione/stepsV2/build/Debug/outDebug.exe
Risoluzione/stepsV2/build/Debug/BFS_Resolution_SequenzialeV2.o
Risoluzione/stepsV2/BFS_CUDA_1.exe
Risoluzione/stepsV2/BFS_CUDA_1.exp
Risoluzione/stepsV2/BFS_CUDA_1.lib
Risoluzione/stepsV2/BFS_CUDA_2.exe
Risoluzione/stepsV2/BFS_CUDA_2.exp
Risoluzione/stepsV2/BFS_CUDA_2.lib
Risoluzione/BFS_Resolution_Sequenziale.exe
Risoluzione/stepsV2/CUDA_1_out.exe
Risoluzione/stepsV2/CUDA_1_out.exp
Risoluzione/stepsV2/CUDA_1_out.lib
Risoluzione/stepsV2/CUDA_1.exe
Risoluzione/stepsV2/CUDA_1.exp
Risoluzione/stepsV2/CUDA_1.lib
Risoluzione/stepsV2/CUDA_2.exe
Risoluzione/stepsV2/CUDA_2.exp
Risoluzione/stepsV2/CUDA_2.lib
Risoluzione/build/Debug/outDebug.exe
Risoluzione/build/Debug/BFS_Resolution_SequenzialeV2.o
Risoluzione/stepsV2/CUDA_2l.lib
Risoluzione/stepsV2/CUDA_2l.exp
Risoluzione/stepsV2/CUDA_2l.exe
Risoluzione/stepsV2/CUDA_1l.exe
Risoluzione/stepsV2/CUDA_1l.exp
Risoluzione/stepsV2/CUDA_1l.lib
Risoluzione/legacy/CUDA_1.exe
Risoluzione/legacy/CUDA_1.exp
Risoluzione/legacy/CUDA_1.lib
Risoluzione/legacy/CUDA_1l.exe
Risoluzione/legacy/CUDA_1l.exp
Risoluzione/legacy/CUDA_1l.lib
Risoluzione/legacy/CUDA_2.exe
Risoluzione/legacy/CUDA_2.exp
Risoluzione/legacy/CUDA_2.lib
Risoluzione/legacy/CUDA_2l.exe
Risoluzione/legacy/CUDA_2l.exp
Risoluzione/legacy/CUDA_2l.lib
Risoluzione/legacy/build/Debug/BFS_Resolution_Sequenziale_Riprogettata_maze.o
Risoluzione/newSteps/build/Debug/outDebug.exe
Risoluzione/newSteps/build/Debug/BFS_Sequenziale.o
Risoluzione/newSteps/CUDA_2.lib
Risoluzione/newSteps/CUDA_1.lib
Risoluzione/newSteps/CUDA_1.exe
Risoluzione/newSteps/CUDA_1.exp
Risoluzione/newSteps/CUDA_2.exe
Risoluzione/newSteps/CUDA_2.exp
Risoluzione/newSteps/CUDA_3.exe
Risoluzione/newSteps/CUDA_3.exp
Risoluzione/newSteps/CUDA_3.lib
Risoluzione/newSteps/mazesOld.txt

Risoluzione/newSteps/CUDA_4.exe
Risoluzione/newSteps/CUDA_4.exp
Risoluzione/newSteps/CUDA_4.lib
Risoluzione/newSteps/CUDA_4b.exe
Risoluzione/newSteps/CUDA_4b.exp
Risoluzione/newSteps/CUDA_4b.lib
Risoluzione/newSteps/CUDA_4c.exe
Risoluzione/newSteps/CUDA_4c.exp
Risoluzione/newSteps/CUDA_4c.lib
Risoluzione/newSteps/mazes100.txt
Risoluzione/newSteps/CUDA_3b.exe
Risoluzione/newSteps/CUDA_3b.exp
Risoluzione/newSteps/result3b2.ncu-rep
Risoluzione/newSteps/result4d.ncu-rep
Risoluzione/newSteps/result4b.ncu-rep
Risoluzione/newSteps/result4.ncu-rep
Risoluzione/newSteps/result3b.ncu-rep
Risoluzione/newSteps/result3.ncu-rep
Risoluzione/newSteps/CUDA_3b.lib
Risoluzione/newSteps/result2cp2.ncu-rep
Risoluzione/newSteps/result2cp1.ncu-rep
Risoluzione/newSteps/CUDA_2cp2.lib
Risoluzione/newSteps/CUDA_2cp2.exp
Risoluzione/newSteps/CUDA_2cp2.exe
Risoluzione/newSteps/CUDA_2cp1.lib
Risoluzione/newSteps/CUDA_2cp1.exp
Risoluzione/newSteps/mazes.txt
Risoluzione/newSteps/CUDA_2cp1.exe
Risoluzione/newSteps/mazes.txt
Risoluzione/newSteps/CUDA_2.ncu-rep
Risoluzione/newSteps/CUDA_3.ncu-rep
Risoluzione/newSteps/mazes.txt
Risoluzione/newSteps/mazes.txt
